/* Basic styling */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  max-width: 600px;
  margin: auto;
}

section {
  margin-bottom: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  /*position: sticky;
    top: 0;
    z-index: 100;*/
}

nav div {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 22px;
}

main {
  margin: 30px auto;
  max-width: 800px;
}

section {
  margin-bottom: 0px;
  text-align: left;
}

.introduction {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.projectImage{
  width:90%;
  height:auto;
  margin-bottom: 15px;
}

.project {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.project h3 {
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 20px;
}

.project a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 20px 25px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.link{
  text-decoration: underline;
}

.link:hover{
  cursor: pointer;
}

.text{
  text-align: left;
}

.project a:hover {
  background-color: #555;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 0px 10px 25px 10px;
  width: 215px;
  text-align: center;
}

.skill-title {
  font-weight: bold;
  margin-bottom: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

progress{
  border-radius: 0;
  color: orange;
  border: 1px solid grey;
  margin-top: 10px;
  width:90%;
}

progress::-moz-progress-bar {
  background: white;
}

progress::-webkit-progress-value {
  background: orange;
}

progress::-webkit-progress-bar {
  background: white;
}

.progress-bar {
  border: 1px solid grey;
  overflow: hidden;
  width:90%;
  margin:auto;
  display:block;
  margin-top:10px;
}

.progress {
  width: 0%;
  height: 14px;
  background-color: orange;
}

.progress.animate {
  animation: progress-animation 1.75s linear forwards;
}

@keyframes progress-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* Responsive styles */
@media (max-width: 600px) {
  .introduction{
    margin-bottom:10px;
  }
  .project{
    width:90vw;
    padding:3vw;
    margin-left:3vw;
    text-align: center;
  }
}